table{
    border: 2px solid black;
    border-collapse: collapse;

}
th{
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    background-color:yellowgreen;
}
td{
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    background-color: aqua;
}    

thead{
    background-color: reb(58,158,58);
    color: red
}
tfoot{
    background-color: REB(58,158);
    color: aqua;
    background-color: blueviolet;
}
.PERA1{
    background-color: rosybrown;
}

